@{
    ViewBag.Title = "About";
}

<!--==============================
About Area
==============================-->

<div class="container space-top">
    <div class="row justify-content-center">
        <div class="col-lg-7 col-md-8">
            <div class="title-area text-center">
                <h2 class="sec-title">About INDBEST</h2>
            </div>
        </div>
    </div>
</div>

<div class="overflow-hidden space-top mb-5" id="about-sec">
    <div class="shape-mockup" data-top="0" data-right="0"><img src="~/Content/assets/img/shape/pattern_shape_1.png" alt="shape"></div>
    <div class="shape-mockup jump d-none d-xl-none" data-bottom="10%" data-left="2%"><img src="~/Content/assets/img/shape/medicine_1.png" alt="shape"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7 col-md-8">
                <div class="title-area text-center">
                    <span class="sub-title"><img src="~/Content/assets/img/theme-img/title_icon.svg" alt="shape">About Our Company</span>
                    <h2 class="sec-title">Taking Care of Your Health is Our Top Priority</h2>
                </div>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-xl-6 mb-30 mb-xl-0">
                <div class="img-box1">
                    <div class="img1">
                        <img src="~/Content/assets/img/About.jpg" alt="About">
                    </div>
                    <div class="about-info style2">
                        <h3 class="box-title">Dr. Esita Jabed</h3>
                        <p class="box-text">Mention the languages <br> in which the staff.</p>
                        <div class="box-review">
                            <i class="fa-sharp fa-solid fa-star"></i><i class="fa-sharp fa-solid fa-star"></i><i class="fa-sharp fa-solid fa-star"></i><i class="fa-sharp fa-solid fa-star"></i><i class="fa-sharp fa-solid fa-star"></i>
                        </div>
                        <a href="tel:+16356478965" class="box-link"><i class="fa-solid fa-phone"></i> +163 564 78965</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="ps-xxl-4 ms-xl-2 text-center text-xl-start">
                    <div class="title-area mb-32">
                        <p class="sec-text mt-n2">A brief statement outlining the purpose and mission of the clinic. This can include the commitment to patient care, community health, and any specifical goals for our values.</p>
                    </div>
                    <div class="mb-25 mt-n1">
                        <div class="checklist style2 list-two-column">
                            <ul>
                                <li><i class="fas fa-heart-pulse"></i> Medical Professionals</li>
                                <li><i class="fas fa-heart-pulse"></i> Facilities and Equipment</li>
                                <li><i class="fas fa-heart-pulse"></i> Emergency Care</li>
                                <li><i class="fas fa-heart-pulse"></i> Medical Consulting</li>
                            </ul>
                        </div>
                    </div>
                    <div>
                        <a href="#" class="th-btn">More About Us</a>
                    </div>
                    <div class="about-video-wrap">
                        <div class="th-video about-video">
                            <img src="~/Content/assets/img/About.jpg" alt="video">
                            <a href="https://www.youtube.com/watch?v=_sI_Ps7JSEk" class="play-btn popup-video"><i class="fas fa-play"></i></a>
                        </div>
                        <div class="box-content">
                            <p class="box-text">We offer flexible appointment scheduling options to accommodate your busy lifestyle. Whether you prefer to book in advance or need. Your health and well-being are our top priorities.</p>
                            <div class="about-contact-wrap">
                                <div class="about-contact">
                                    <p class="box-label">Support Line 24/7</p>
                                    <h3 class="box-title"><i class="fal fa-envelope"></i> <a href="mailto:info@contact.com">info@contact.com</a></h3>
                                </div>
                                <div class="about-contact">
                                    <p class="box-label">Online Schedule</p>
                                    <h3 class="box-title"><i class="fal fa-calendar-alt"></i> <a href="#">Book Here</a></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--==============================
Feature Area
==============================-->
<section class="overflow-hidden space mb-5 shape-mockup-wrap">
    <div class="container">
        <div class="row gy-4 justify-content-center">
            <div class="col-lg-4 col-md-6">
                <div class="feature-card" data-bg-color="#D4FEEC">
                    <div class="title-wrap">
                        <h3 class="box-title">Vision</h3>
                    </div>
                    <p class="box-text">
                        INDBEST Healthcare envisions becoming a global leader in intravenous therapy. We are dedicated to advancing healthcare by delivering trusted, innovative solutions that improve outcomes. Our focus is on enhancing patient care by ensuring high-quality and accessible treatments. With a forward-thinking approach, we aim to contribute meaningfully to global health systems and set new standards of excellence in medical care and intravenous therapy worldwide.
                    </p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="feature-card" data-bg-color="#F5F8FD">
                    <div class="title-wrap">
                        <h3 class="box-title">Mission</h3>
                    </div>
                    <p class="box-text">
                        Our mission is to revolutionize pharmaceutical manufacturing through our state-of-the-art facility for Large Volume Parenterals (LVPs). As one of India’s most advanced and expansive units, it meets the highest national and global standards. We are dedicated to delivering safe, effective, and high-quality intravenous products. Our goal is to ensure reliability, safety, and innovation in every batch we manufacture, thereby elevating global healthcare standards.
                    </p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="feature-card" data-bg-color="#E0F1FE">
                    <div class="title-wrap">
                        <h3 class="box-title">Our Values</h3>
                    </div>
                    <p class="box-text">
                        We uphold quality, innovation, and integrity as the foundation of all our actions. At INDBEST Healthcare, we are driven by a commitment to safety, transparency, and excellence. We adopt cutting-edge technologies, prioritize customer satisfaction, and act with a global conscience. By staying true to our values, we seek to deliver healthcare solutions that truly make a difference—improving lives in India and around the world.
                    </p>
                </div>
            </div>

        </div>
    </div>
</section>
<!--==============================
Counter Area
==============================-->
<div class="z-index-common" data-pos-for="#why-sec" data-sec-pos="bottom-half">
    <div class="container">
        <div class="counter-card-wrap bg-theme2">
            <div class="counter-card">
                <h2 class="box-number text-white">
                    <span class="number"><span class="counter-number">69</span>k</span><span class="plus">+</span>
                </h2>
                <p class="box-text text-white">Satisfied Patients</p>
            </div>
            <div class="divider"></div>
            <div class="counter-card">
                <h2 class="box-number text-white">
                    <span class="number"><span class="counter-number">236</span></span><span class="plus">+</span>
                </h2>
                <p class="box-text text-white">Professional Doctors</p>
            </div>
            <div class="divider"></div>
            <div class="counter-card">
                <h2 class="box-number text-white">
                    <span class="number"><span class="counter-number">19</span>k</span><span class="plus">+</span>
                </h2>
                <p class="box-text text-white">Operations Successful</p>
            </div>
            <div class="divider"></div>
            <div class="counter-card">
                <h2 class="box-number text-white">
                    <span class="number"><span class="counter-number">320</span></span><span class="plus">+</span>
                </h2>
                <p class="box-text text-white">National Awards Win</p>
            </div>
            <div class="divider"></div>
        </div>
    </div>
</div>
<!--==============================
Feature Area
==============================-->
<section class="why-sec3 space-top" id="why-sec" data-bg-src="~/Content/assets/img/bg/why_bg_3.jpg">
    <div class="container pb-5 mb-2">
        <div class="row justify-content-center">
            <div class="col-lg-7 col-md-8">
                <div class="title-area text-center">
                    <span class="sub-title"><img src="~/Content/assets/img/theme-img/title_icon.svg" alt="shape">Why Choose Us</span>
                    <h2 class="sec-title">We Have 25 Years Experience in Medical Health Services</h2>
                </div>
            </div>
        </div>
        <div class="row gy-4">
            <div class="col-xl-3 col-sm-6">
                <div class="why-feature" data-bg-src="~/Content/assets/img/bg/why_feature_bg.png">
                    <div class="box-icon">
                        <img src="~/Content/assets/img/icon/choose_feature_1.svg" alt="icon">
                    </div>
                    <h3 class="box-title">Experience Doctor</h3>
                    <p class="box-text">Our products are certified by reputable organic.</p>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6">
                <div class="why-feature" data-bg-src="~/Content/assets/img/bg/why_feature_bg.png">
                    <div class="box-icon">
                        <img src="~/Content/assets/img/icon/choose_feature_2.svg" alt="icon">
                    </div>
                    <h3 class="box-title">Painless Treatment</h3>
                    <p class="box-text">Our products are certified by reputable organic.</p>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6">
                <div class="why-feature" data-bg-src="~/Content/assets/img/bg/why_feature_bg.png">
                    <div class="box-icon">
                        <img src="~/Content/assets/img/icon/choose_feature_3.svg" alt="icon">
                    </div>
                    <h3 class="box-title">Top Equipment</h3>
                    <p class="box-text">Our products are certified by reputable organic.</p>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6">
                <div class="why-feature" data-bg-src="~/Content/assets/img/bg/why_feature_bg.png">
                    <div class="box-icon">
                        <img src="~/Content/assets/img/icon/choose_feature_4.svg" alt="icon">
                    </div>
                    <h3 class="box-title">24/7 Advance Care</h3>
                    <p class="box-text">Our products are certified by reputable organic.</p>
                </div>
            </div>
        </div>
    </div>
</section>