
@{
    ViewBag.Title = "Blogs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--==============================
Blog Area
==============================-->
@*<div class="container space-top">
    <div class="row justify-content-center">
        <div class="col-lg-7 col-md-8">
            <div class="title-area text-center">
                <h2 class="sec-title">Blogs</h2>
            </div>
        </div>
    </div>
</div>*@

<section class="space-top mb-5" id="blog-sec" data-bg-src="~/Content/assets/img/bg/blog_bg_1.jpg">
    <div class="container">
        <div class="row justify-content-lg-between justify-content-center align-items-center">
            <div class="col-lg">
                <div class="title-area text-center text-lg-start">
                    <span class="sub-title"><img src="~/Content/assets/img/theme-img/title_icon.svg" alt="shape">Our Blog</span>
                    <h2 class="sec-title">Our Latest News & Blogs</h2>
                </div>
            </div>
        </div>
        <div class="slider-area">
            <div class="swiper th-slider has-shadow" id="blogSlider1" data-slider-options='{"breakpoints":{"0":{"slidesPerView":1},"576":{"slidesPerView":"1"},"768":{"slidesPerView":"2"},"992":{"slidesPerView":"2"},"1200":{"slidesPerView":"3"}}}'>
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="blog-card">
                            <div class="blog-img">
                                <img src="~/Content/assets/img/blog/1.jpg" alt="blog image">
                            </div>
                            <div class="blog-content">
                                <div class="blog-meta">
                                    <a href="#"><i class="fal fa-user"></i>By Mediax</a>
                                    <a href="#"><i class="fal fa-calendar"></i>15 March, 2024</a>
                                </div>
                                <h3 class="box-title"><a href="#">How Business Is Taking Over & What to Do About It</a></h3>
                                <a href="#" class="th-btn btn-sm">Read More</a>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="blog-card">
                            <div class="blog-img">
                                <img src="~/Content/assets/img/blog/2.jpg" alt="blog image">
                            </div>
                            <div class="blog-content">
                                <div class="blog-meta">
                                    <a href="#"><i class="fal fa-user"></i>By Mediax</a>
                                    <a href="#"><i class="fal fa-calendar"></i>16 March, 2024</a>
                                </div>
                                <h3 class="box-title"><a href="#">Health vs. Wealth Navigate Business in Medicine</a></h3>
                                <a href="#" class="th-btn btn-sm">Read More</a>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="blog-card">
                            <div class="blog-img">
                                <img src="~/Content/assets/img/blog/3.jpg" alt="blog image">
                            </div>
                            <div class="blog-content">
                                <div class="blog-meta">
                                    <a href="#"><i class="fal fa-user"></i>By Mediax</a>
                                    <a href="#"><i class="fal fa-calendar"></i>17 March, 2024</a>
                                </div>
                                <h3 class="box-title"><a href="#">Preserving Care Strategy Amidst Food Changes</a></h3>
                                <a href="#" class="th-btn btn-sm">Read More</a>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="blog-card">
                            <div class="blog-img">
                                <img src="~/Content/assets/img/blog/4.jpg" alt="blog image">
                            </div>
                            <div class="blog-content">
                                <div class="blog-meta">
                                    <a href="#"><i class="fal fa-user"></i>By Mediax</a>
                                    <a href="#"><i class="fal fa-calendar"></i>19 March, 2024</a>
                                </div>
                                <h3 class="box-title"><a href="#">Healthcare Tips Navigating Business & Patient Care</a></h3>
                                <a href="#" class="th-btn btn-sm">Read More</a>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="blog-card">
                            <div class="blog-img">
                                <img src="~/Content/assets/img/blog/5.jpg" alt="blog image">
                            </div>
                            <div class="blog-content">
                                <div class="blog-meta">
                                    <a href="#"><i class="fal fa-user"></i>By Mediax</a>
                                    <a href="#"><i class="fal fa-calendar"></i>15 March, 2024</a>
                                </div>
                                <h3 class="box-title"><a href="#">Strategies Against Corporate Intrusion in Healthcare</a></h3>
                                <a href="#" class="th-btn btn-sm">Read More</a>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="blog-card">
                            <div class="blog-img">
                                <img src="~/Content/assets/img/blog/1.jpg" alt="blog image">
                            </div>
                            <div class="blog-content">
                                <div class="blog-meta">
                                    <a href="#"><i class="fal fa-user"></i>By Mediax</a>
                                    <a href="#"><i class="fal fa-calendar"></i>16 March, 2024</a>
                                </div>
                                <h3 class="box-title"><a href="#">Transform Your Nutrition with Organic Meal</a></h3>
                                <a href="#" class="th-btn btn-sm">Read More</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <button data-slider-prev="#blogSlider1" class="slider-arrow slider-prev"><i class="far fa-arrow-left"></i></button>
            <button data-slider-next="#blogSlider1" class="slider-arrow slider-next"><i class="far fa-arrow-right"></i></button>
        </div>
    </div>
</section>