@{
    ViewBag.Title = "Product";
}

<!--==============================
About Area
==============================-->

@*<div class="container space-top">
    <div class="row justify-content-center">
        <div class="col-lg-7 col-md-8">
            <div class="title-area text-center">
                <h2 class="sec-title">Product</h2>
            </div>
        </div>
    </div>
</div>*@

<!--==============================
Product Area
==============================-->
<section class="space-top space-extra-bottom">
    <div class="container">

        <div class="row justify-content-center">
            <div class="col-lg-7 col-md-8">
                <div class="title-area text-center">
                    <span class="sub-title"><img src="~/Content/assets/img/theme-img/title_icon.svg" alt="shape">Domestic</span>
                </div>
            </div>
        </div>
        <div class="row gy-40">

            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="th-product product-grid">
                    <div class="product-img">
                        <img src="~/Content/assets/img/Products/DOMESTIC/1.jpg" alt="Product Image">
                        <div class="actions">
                            <a href="#QuickView" class="icon-btn popup-content"><i class="far fa-eye"></i></a>
                        </div>
                    </div>
                    <div class="product-content">
                        <h3 class="product-title"><a href="#QuickView" class="popup-content">Ofloxacin Infusion IP (200 mg/100 ml)</a></h3>
                    </div>
                </div>
            </div>


            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="th-product product-grid">
                    <div class="product-img">
                        <img src="~/Content/assets/img/Products/DOMESTIC/2.jpg" alt="Product Image">
                        <div class="actions">
                            <a href="#QuickView" class="icon-btn popup-content"><i class="far fa-eye"></i></a>
                        </div>
                    </div>
                    <div class="product-content">
                        <h3 class="product-title"><a href="#QuickView" class="popup-content">Levofloxacin Infusion IP (500 mg/100 ml)</a></h3>
                    </div>
                </div>
            </div>


            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="th-product product-grid">
                    <div class="product-img">
                        <img src="~/Content/assets/img/Products/DOMESTIC/3.jpg" alt="Product Image">
                        <div class="actions">
                            <a href="#QuickView" class="icon-btn popup-content"><i class="far fa-eye"></i></a>
                        </div>
                    </div>
                    <div class="product-content">
                        <h3 class="product-title"><a href="#QuickView" class="popup-content">Metronidazole Injection IP (0.5% w/v)</a></h3>
                    </div>
                </div>
            </div>


            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="th-product product-grid">
                    <div class="product-img">
                        <img src="~/Content/assets/img/Products/DOMESTIC/4.jpg" alt="Product Image">
                        <div class="actions">
                            <a href="#QuickView" class="icon-btn popup-content"><i class="far fa-eye"></i></a>
                        </div>
                    </div>
                    <div class="product-content">

                        <h3 class="product-title"><a href="#QuickView" class="popup-content">Paracetamol Infusion  IP (1.0% w/v)</a></h3>
                    </div>
                </div>
            </div>


            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="th-product product-grid">
                    <div class="product-img">
                        <img src="~/Content/assets/img/Products/DOMESTIC/5.jpg" alt="Product Image">
                        <div class="actions">
                            <a href="#QuickView" class="icon-btn popup-content"><i class="far fa-eye"></i></a>
                        </div>
                    </div>
                    <div class="product-content">
                        <h3 class="product-title"><a href="#QuickView" class="popup-content">Ciprofloxacin Injection IP (0.2% w/v)</a></h3>

                    </div>
                </div>
            </div>


            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="th-product product-grid">
                    <div class="product-img">
                        <img src="~/Content/assets/img/Products/DOMESTIC/6.jpg" alt="Product Image">
                        <div class="actions">
                            <a href="#QuickView" class="icon-btn popup-content"><i class="far fa-eye"></i></a>
                        </div>
                    </div>
                    <div class="product-content">
                        <h3 class="product-title"><a href="#QuickView" class="popup-content">Levofloxacin Infusion IP (500 mg/100 ml)</a></h3>

                    </div>
                </div>
            </div>


            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="th-product product-grid">
                    <div class="product-img">
                        <img src="~/Content/assets/img/Products/DOMESTIC/7.jpg" alt="Product Image">
                        <div class="actions">
                            <a href="#QuickView" class="icon-btn popup-content"><i class="far fa-eye"></i></a>
                        </div>
                    </div>
                    <div class="product-content">
                        <h3 class="product-title"><a href="#QuickView" class="popup-content">Sodium Chloride (0.45% w/v) and Dextrose (5% w/v) Injection IP</a></h3>
                    </div>
                </div>
            </div>


            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="th-product product-grid">
                    <div class="product-img">
                        <img src="~/Content/assets/img/Products/DOMESTIC/8.jpg" alt="Product Image">
                        <div class="actions">
                            <a href="#QuickView" class="icon-btn popup-content"><i class="far fa-eye"></i></a>
                        </div>
                    </div>
                    <div class="product-content">
                        <h3 class="product-title"><a href="#QuickView" class="popup-content">Sodium Chloride Injection IP (0.9 % w/v)</a></h3>
                    </div>
                </div>
            </div>


            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="th-product product-grid">
                    <div class="product-img">
                        <img src="~/Content/assets/img/Products/DOMESTIC/9.jpg" alt="Product Image">
                        <div class="actions">
                            <a href="#QuickView" class="icon-btn popup-content"><i class="far fa-eye"></i></a>
                        </div>
                    </div>
                    <div class="product-content">
                        <h3 class="product-title"><a href="#QuickView" class="popup-content">Dextrose Injection IP (5% w/v)</a></h3>
                    </div>
                </div>
            </div>


            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="th-product product-grid">
                    <div class="product-img">
                        <img src="~/Content/assets/img/Products/DOMESTIC/10.jpg" alt="Product Image">
                        <div class="actions">
                            <a href="#QuickView" class="icon-btn popup-content"><i class="far fa-eye"></i></a>
                        </div>
                    </div>
                    <div class="product-content">
                        <h3 class="product-title"><a href="#QuickView" class="popup-content">Sodium Chloride (0.9% w/v) and Dextrose (5% w/v) Injection IP</a></h3>
                    </div>
                </div>
            </div>


            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="th-product product-grid">
                    <div class="product-img">
                        <img src="~/Content/assets/img/Products/DOMESTIC/11.jpg" alt="Product Image">
                        <div class="actions">
                            <a href="#QuickView" class="icon-btn popup-content"><i class="far fa-eye"></i></a>
                        </div>
                    </div>
                    <div class="product-content">
                        <h3 class="product-title"><a href="#QuickView" class="popup-content">Dextrose Injection IP (10% w/v)</a></h3>
                    </div>
                </div>
            </div>


            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="th-product product-grid">
                    <div class="product-img">
                        <img src="~/Content/assets/img/Products/DOMESTIC/12.jpg" alt="Product Image">
                        <div class="actions">
                            <a href="#QuickView" class="icon-btn popup-content"><i class="far fa-eye"></i></a>
                        </div>
                    </div>
                    <div class="product-content">
                        <h3 class="product-title"><a href="#QuickView" class="popup-content">Mannitol Injection IP (20% w/v)</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="th-product product-grid">
                    <div class="product-img">
                        <img src="~/Content/assets/img/Products/DOMESTIC/13.jpg" alt="Product Image">
                        <div class="actions">
                            <a href="#QuickView" class="icon-btn popup-content"><i class="far fa-eye"></i></a>
                        </div>
                    </div>
                    <div class="product-content">
                        <h3 class="product-title"><a href="#QuickView" class="popup-content">Multiple Electrolytes and Dextrose Injection Type – III IP</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="th-product product-grid">
                    <div class="product-img">
                        <img src="~/Content/assets/img/Products/DOMESTIC/14.jpg" alt="Product Image">
                        <div class="actions">
                            <a href="#QuickView" class="icon-btn popup-content"><i class="far fa-eye"></i></a>
                        </div>
                    </div>
                    <div class="product-content">
                        <h3 class="product-title"><a href="#QuickView" class="popup-content">MCompound Sodium Lactate Injection IP</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="th-product product-grid">
                    <div class="product-img">
                        <img src="~/Content/assets/img/Products/DOMESTIC/15.jpg" alt="Product Image">
                        <div class="actions">
                            <a href="#QuickView" class="icon-btn popup-content"><i class="far fa-eye"></i></a>
                        </div>
                    </div>
                    <div class="product-content">
                        <h3 class="product-title"><a href="#QuickView" class="popup-content">Multiple Electrolytes and Dextrose Injection Type – I IP</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="th-product product-grid">
                    <div class="product-img">
                        <img src="~/Content/assets/img/Products/DOMESTIC/16.jpg" alt="Product Image">
                        <div class="actions">
                            <a href="#QuickView" class="icon-btn popup-content"><i class="far fa-eye"></i></a>
                        </div>
                    </div>
                    <div class="product-content">
                        <h3 class="product-title"><a href="#QuickView" class="popup-content">Multiple Electrolytes and Dextrose Injection Type – II IP</a></h3>
                    </div>
                </div>
            </div>

        </div>
        <div class="th-pagination text-center pt-50">
            <ul>
                <li><a href="blog.html">1</a></li>
                <li><a href="blog.html">2</a></li>
                <li><a href="blog.html">3</a></li>
                <li><a href="blog.html"><i class="far fa-arrow-right"></i></a></li>
            </ul>
        </div>
    </div>
</section>


<!--==============================
Product Lightbox
==============================-->
<div id="QuickView" class="white-popup mfp-hide">
    <div class="container bg-white rounded-10">
        <div class="row gx-60">
            <div class="col-lg-6">
                <div class="product-big-img">
                    <div class="img"><img src="~/Content/assets/img/Products/DOMESTIC/1.jpg" alt="Product Image"></div>
                </div>
            </div>
            <div class="col-lg-6 align-self-center">
                <div class="product-about">
                    <h4 class="product-title">Ofloxacin Infusion IP (200 mg/100 ml)</h4>
                    <p class="text">
                        Each 100 ml contains<br>
                        Ofloxacin IP…………….…..200mg<br>
                        Sodium Chloride IP…………900mg<br>
                        Water for Injection IP……….Q.S
                    </p>
                    <div class="product_meta">
                        <span class="sku_wrapper">Filled Volume: <span class="sku">100ml</span></span>
                    </div>

                </div>
            </div>
        </div>
        <button title="Close (Esc)" type="button" class="mfp-close">×</button>
    </div>
</div>