@{
    ViewBag.Title = "Home Page";
}

<!--==============================
Hero Area
==============================-->
<div class="th-hero-wrapper hero-1" id="hero" data-bg-src="~/Content/assets/img/hero/hero_bg_1_1.jpg">
    <div class="swiper th-slider" id="heroSlide1" data-slider-options='{"effect":"fade","autoHeight":true}'>
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="hero-inner">
                    <div class="container">
                        <div class="hero-style1">
                            <span class="hero-subtitle" data-ani="slideinup" data-ani-delay="0.2s">24/7 Emergency Service</span>
                            <h1 class="hero-title" data-ani="slideinup" data-ani-delay="0.3s">Now in <span class="line-text">INDIA</span></h1>
                            <h2 class="hero-heading" data-ani="slideinup" data-ani-delay="0.4s">Caring for You</h2>
                            <p class="hero-text" data-ani="slideinup" data-ani-delay="0.5s">A brief statement outlining the purpose and mission of the clinic. This can include the commitment to patient care, community health.</p>
                            <a href="about.html" class="th-btn style2" data-ani="slideinup" data-ani-delay="0.6s"><i class="fas fa-shopping-cart me-2"></i>Discover More</a>
                        </div>
                    </div>
                    <div class="hero-img" data-ani="slideinright" data-ani-delay="0.5s">
                        <img src="~/Content/assets/img/Emergency.jpg" alt="Image">
                    </div>
                </div>

            </div>
            <div class="swiper-slide">
                <div class="hero-inner">
                    <div class="container">
                        <div class="hero-style1">
                            <span class="hero-subtitle" data-ani="slideinup" data-ani-delay="0.2s">100% Premium Imported Products</span>
                            <h1 class="hero-title" data-ani="slideinup" data-ani-delay="0.3s">Surgery Hand Gloves</h1>
                            <h2 class="hero-heading" data-ani="slideinup" data-ani-delay="0.4s">Get <span class="text-theme">25%</span> Off, Hurry Up!</h2>
                            <p class="hero-text" data-ani="slideinup" data-ani-delay="0.5s">Using a 5 layers surgical mask, we can protect ourselves from various germs. Everyone should use this 5 layers surgical mask.</p>
                            <a href="about.html" class="th-btn style4" data-ani="slideinup" data-ani-delay="0.6s"><i class="fas fa-shopping-cart me-2"></i>Shop Now</a>
                        </div>
                    </div>
                    <div class="hero-img" data-ani="slideinright" data-ani-delay="0.5s">
                        <img src="~/Content/assets/img/hero/hero_1_2.png" alt="Image">
                    </div>
                </div>

            </div>
            <div class="swiper-slide">
                <div class="hero-inner">
                    <div class="container">
                        <div class="hero-style1">
                            <span class="hero-subtitle" data-ani="slideinup" data-ani-delay="0.2s">100% Premium Quality Products</span>
                            <h1 class="hero-title" data-ani="slideinup" data-ani-delay="0.3s">Blood Pressure Meter</h1>
                            <h2 class="hero-heading" data-ani="slideinup" data-ani-delay="0.4s">Get <span class="text-theme">25%</span> Off, Hurry Up!</h2>
                            <p class="hero-text" data-ani="slideinup" data-ani-delay="0.5s">Using a 5 layers surgical mask, we can protect ourselves from various germs. Everyone should use this 5 layers surgical mask.</p>
                            <a href="about.html" class="th-btn style4" data-ani="slideinup" data-ani-delay="0.6s"><i class="fas fa-shopping-cart me-2"></i>Shop Now</a>
                        </div>
                    </div>
                    <div class="hero-img" data-ani="slideinright" data-ani-delay="0.5s">
                        <img src="~/Content/assets/img/hero/hero_1_3.png" alt="Image">
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="hero-thumb-wrap">
        <div class="hero-thumb" data-slider-tab="#heroSlide1">
            <div class="tab-btn active">
                <img src="~/Content/assets/img/hero/hero_thumb_1_1.png" alt="Image">
            </div>
            <div class="tab-btn">
                <img src="~/Content/assets/img/hero/hero_thumb_1_2.png" alt="Image">
            </div>
            <div class="tab-btn">
                <img src="~/Content/assets/img/hero/hero_thumb_1_3.png" alt="Image">
            </div>
        </div>
    </div>
</div>
<!--======== / Hero Section ========-->
<!--==============================
Hero Area
==============================->
<div class="th-hero-wrapper hero-2" id="hero" data-bg-src="~/Content/assets/img/hero/hero_bg_2_1.jpg">
    <div class="hero-inner">
        <div class="container">
            <div class="hero-style2">
                <span class="sub-title"><img src="~/Content/assets/img/theme-img/title_icon.svg" alt="shape">24/7 Emergency Service</span>
                <h1 class="hero-title2">
                    <span class="title1">Now in <span class="line-text">INDIA</span></span>
                    <span class="title2">Caring for You</span>
                </h1>
                <p class="hero-text">A brief statement outlining the purpose and mission of the clinic. This can include the commitment to patient care, community health.</p>
                <div class="btn-group justify-content-center">
                    <a href="#" class="th-btn">Discover More</a>
                    <a href="#" class="th-btn style2">See All Services</a>
                </div>
            </div>
        </div>
        <div class="hero-img">
            <img src="~/Content/assets/img/Emergency.jpg" alt="Image">
        </div>
        <div class="hero-shape1">
            <img src="~/Content/assets/img/hero/hero_shape_2_1.svg" alt="shape">
        </div>
        <div class="hero-shape2">
            <img src="~/Content/assets/img/Bottle.png" alt="shape" class="animationImg">
        </div>
        <div class="hero-shape3">
            <img src="~/Content/assets/img/hero/hero_shape_2_3.svg" alt="shape">
        </div>
        <div class="hero-shape4">
            <img src="~/Content/assets/img/hero/hero_shape_2_4.svg" alt="shape">
        </div>
        <div class="hero-shape5">
            <img src="~/Content/assets/img/hero/hero_shape_2_5.svg" alt="shape">
        </div>
    </div>
</div>
<!--======== / Hero Section ========-->
<!--==============================
About Area
==============================-->
<div class="space" id="about-sec">
    <div class="shape-mockup" data-top="0" data-right="0"><img src="~/Content/assets/img/shape/pattern_shape_1.png" alt="shape"></div>
    <div class="shape-mockup jump" data-bottom="10%" data-right="1%"><img src="~/Content/assets/img/Bottle.png" alt="shape"></div>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-6 mb-30 mb-xl-0">
                <div class="img-box1">
                    <div class="img1">
                        <img src="~/Content/assets/img/About.jpg" alt="About">
                    </div>
                    <div class="about-info">
                        <h3 class="box-title">Dr. Esita Jabed</h3>
                        <p class="box-text">Mention the languages <br> in which the staff.</p>
                        <div class="box-review">
                            <i class="fa-sharp fa-solid fa-star"></i><i class="fa-sharp fa-solid fa-star"></i><i class="fa-sharp fa-solid fa-star"></i><i class="fa-sharp fa-solid fa-star"></i><i class="fa-sharp fa-solid fa-star"></i>
                        </div>
                        <a href="tel:+16356478965" class="box-link"><i class="fa-solid fa-phone"></i> +163 564 78965</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="ps-xxl-4 ms-xl-2 text-center text-xl-start">
                    <div class="title-area mb-32">
                        <span class="sub-title"><img src="~/Content/assets/img/theme-img/title_icon.svg" alt="shape">About Us</span>
                        <h2 class="sec-title">INDBEST Health Care </h2>
                        <p class="sec-text">
                            INDBEST Healthcare is building one of India’s largest and most advanced manufacturing facilities for Large Volume Parenterals (LVPs).
                            <br />
                            Our state-of-the-art plant is dedicated to delivering IV bottles of the highest quality, safety, and efficacy for both domestic and international markets.
                        </p>
                    </div>
                    <div>
                        <a href="#" class="th-btn">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--==============================
Process Area
==============================-->
<section class="space" data-bg-src="~/Content/assets/img/bg/process_bg_1.jpg">
    <div class="container">
        <div class="title-area text-center">
            <span class="sub-title"><img src="~/Content/assets/img/theme-img/title_icon.svg" alt="Icon">Work Process</span>
            <h2 class="sec-title">Manufacturing Strength & Global Standards</h2>
        </div>
        <div class="process-card-wrap">
            <div class="process-card">
                <div class="box-img">
                    <div class="img">
                        <img src="~/Content/assets/img/normal/process_card_1.jpg" alt="icon">
                    </div>
                </div>
                <h3 class="box-title">Advanced Technology</h3>
                <p class="box-text">The first step in our process is to welcome our patients and ensure they have a experience.</p>
            </div>
            <div class="process-card">
                <div class="box-img">
                    <div class="img">
                        <img src="~/Content/assets/img/normal/process_card_2.jpg" alt="icon">
                    </div>
                </div>
                <h3 class="box-title">High Production Capacity</h3>
                <p class="box-text">Once the patient is checked in, healthcare professional conduct a thorough evaluation.</p>
            </div>
            <div class="process-card">
                <div class="box-img">
                    <div class="img">
                        <img src="~/Content/assets/img/normal/process_card_3.jpg" alt="icon">
                    </div>
                </div>
                <h3 class="box-title">Customization Options</h3>
                <p class="box-text">Analyzing the result of diagnostic tests & incorporating them into the diagnosis.</p>
            </div>
        </div>
    </div>
</section>
<!--==============================
Feature Area
==============================-->
<section class="space bg-smoke">
    <div class="container">
        <div class="title-area text-center">
            <h2 class="sec-title">Why Partner with us</h2>
        </div>
        <div class="feature-list-wrap">
            <div class="feature-list">
                <div class="box-icon">
                    <img src="assets/img/icon/shop_feature_1.svg" alt="icon">
                </div>
                <div class="media-body">
                    <h3 class="box-title">Experienced Technical Team</h3>
                    <p class="box-text">Money back guarantee</p>
                </div>
            </div>
            <div class="feature-list-line"></div>
            <div class="feature-list">
                <div class="box-icon">
                    <img src="assets/img/icon/shop_feature_2.svg" alt="icon">
                </div>
                <div class="media-body">
                    <h3 class="box-title">Commitment to Quality</h3>
                    <p class="box-text">On all orders over $50.00</p>
                </div>
            </div>
            <div class="feature-list-line"></div>
            <div class="feature-list">
                <div class="box-icon">
                    <img src="assets/img/icon/shop_feature_3.svg" alt="icon">
                </div>
                <div class="media-body">
                    <h3 class="box-title">Competitive Pricing</h3>
                    <p class="box-text">Find your nearest store</p>
                </div>
            </div>
            <div class="feature-list-line"></div>
            <div class="feature-list">
                <div class="box-icon">
                    <img src="assets/img/icon/shop_feature_4.svg" alt="icon">
                </div>
                <div class="media-body">
                    <h3 class="box-title">Timely Delivery</h3>
                    <p class="box-text">Contact us 24 hours a day</p>
                </div>
            </div>
            <div class="feature-list-line"></div>
        </div>
    </div>
</section>
<!--==============================
Service Area
==============================-->
<section class="overflow-hidden bg-smoke space" id="service-sec" data-bg-src="~/Content/assets/img/bg/service_bg_1.png">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-8">
                <div class="title-area text-center">
                    <span class="sub-title"><img src="~/Content/assets/img/theme-img/title_icon.svg" alt="Icon">Our Services</span>
                    <h2 class="sec-title">Our Mediax specialties Technical service</h2>
                </div>
            </div>
        </div>
        <div class="row gy-4 justify-content-center">
            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="service-card" data-bg-src="~/Content/assets/img/service/service_card_1.jpg">
                    <div class="box-shape">
                        <img src="~/Content/assets/img/bg/service_card_bg.png" alt="Service">
                    </div>
                    <div class="box-icon">
                        <img src="~/Content/assets/img/icon/service_card_1.svg" alt="Icon">
                    </div>
                    <h3 class="box-title"><a href="#">Internal Medicine</a></h3>
                    <p class="box-text">30+ Doctors</p>
                    <a href="#" class="th-btn btn-sm style2 theme-color">Read More</a>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="service-card" data-bg-src="~/Content/assets/img/service/service_card_2.jpg">
                    <div class="box-shape">
                        <img src="~/Content/assets/img/bg/service_card_bg.png" alt="Service">
                    </div>
                    <div class="box-icon">
                        <img src="~/Content/assets/img/icon/service_card_2.svg" alt="Icon">
                    </div>
                    <h3 class="box-title"><a href="#">Dental Care</a></h3>
                    <p class="box-text">20+ Doctors</p>
                    <a href="#" class="th-btn btn-sm style2 theme-color">Read More</a>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="service-card" data-bg-src="~/Content/assets/img/service/service_card_3.jpg">
                    <div class="box-shape">
                        <img src="~/Content/assets/img/bg/service_card_bg.png" alt="Service">
                    </div>
                    <div class="box-icon">
                        <img src="~/Content/assets/img/icon/service_card_3.svg" alt="Icon">
                    </div>
                    <h3 class="box-title"><a href="#">Urology Care</a></h3>
                    <p class="box-text">20+ Doctors</p>
                    <a href="#" class="th-btn btn-sm style2 theme-color">Read More</a>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="service-card" data-bg-src="~/Content/assets/img/service/service_card_4.jpg">
                    <div class="box-shape">
                        <img src="~/Content/assets/img/bg/service_card_bg.png" alt="Service">
                    </div>
                    <div class="box-icon">
                        <img src="~/Content/assets/img/icon/service_card_4.svg" alt="Icon">
                    </div>
                    <h3 class="box-title"><a href="#">Neurology Care</a></h3>
                    <p class="box-text">10+ Doctors</p>
                    <a href="#" class="th-btn btn-sm style2 theme-color">Read More</a>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="service-card" data-bg-src="~/Content/assets/img/service/service_card_5.jpg">
                    <div class="box-shape">
                        <img src="~/Content/assets/img/bg/service_card_bg.png" alt="Service">
                    </div>
                    <div class="box-icon">
                        <img src="~/Content/assets/img/icon/service_card_5.svg" alt="Icon">
                    </div>
                    <h3 class="box-title"><a href="#">Gynecologists</a></h3>
                    <p class="box-text">30+ Doctors</p>
                    <a href="#" class="th-btn btn-sm style2 theme-color">Read More</a>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="service-card" data-bg-src="~/Content/assets/img/service/service_card_6.jpg">
                    <div class="box-shape">
                        <img src="~/Content/assets/img/bg/service_card_bg.png" alt="Service">
                    </div>
                    <div class="box-icon">
                        <img src="~/Content/assets/img/icon/service_card_6.svg" alt="Icon">
                    </div>
                    <h3 class="box-title"><a href="#">Ophthalmology</a></h3>
                    <p class="box-text">24+ Doctors</p>
                    <a href="#" class="th-btn btn-sm style2 theme-color">Read More</a>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="service-card" data-bg-src="~/Content/assets/img/service/service_card_7.jpg">
                    <div class="box-shape">
                        <img src="~/Content/assets/img/bg/service_card_bg.png" alt="Service">
                    </div>
                    <div class="box-icon">
                        <img src="~/Content/assets/img/icon/service_card_7.svg" alt="Icon">
                    </div>
                    <h3 class="box-title"><a href="#">Orthopedics</a></h3>
                    <p class="box-text">26+ Doctors</p>
                    <a href="#" class="th-btn btn-sm style2 theme-color">Read More</a>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="service-card" data-bg-src="~/Content/assets/img/service/service_card_8.jpg">
                    <div class="box-shape">
                        <img src="~/Content/assets/img/bg/service_card_bg.png" alt="Service">
                    </div>
                    <div class="box-icon">
                        <img src="~/Content/assets/img/icon/service_card_8.svg" alt="Icon">
                    </div>
                    <h3 class="box-title"><a href="#">Cardiology</a></h3>
                    <p class="box-text">20+ Doctors</p>
                    <a href="#" class="th-btn btn-sm style2 theme-color">Read More</a>
                </div>
            </div>
        </div>
        <div class="mt-5 pt-2 space-extra-bottom">
            <p class="round-text"><span class="text">You Get Our 20+ More services... <a href="#" class="line-btn">Explore All Services</a></span></p>
        </div>
    </div>
</section>


<!--==============================
Feature Area
==============================-->
<div class="overflow-hidden space">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 text-center text-xl-start">
                <div class="pe-xxl-5 mb-40 mb-xl-0">
                    <div class="title-area mb-32">
                        <span class="sub-title"><img src="~/Content/assets/img/theme-img/title_icon.svg" alt="shape">Our aim</span>
                        <h2 class="sec-title">To Establish Global Presence</h2>
                    </div>
                    <div class="choose-feature-wrap">
                        <div class="choose-feature">
                            <div class="media-body">
                                <h3 class="box-title">Compassionate & Expert Care</h3>
                                <p class="box-text">Our team of dedicated healthcare professionals combines years of experience with a genuine commitment to providing.</p>
                            </div>
                        </div>
                        <div class="choose-feature">
                            <div class="media-body">
                                <h3 class="box-title">Patient-Centered Approach</h3>
                                <p class="box-text">Your health and well-being are our top priorities. We take the time to listen to your concerns, answer your questions.</p>
                            </div>
                        </div>
                        <div class="choose-feature">
                            <div class="media-body">
                                <h3 class="box-title">Personalized Treatment Plans</h3>
                                <p class="box-text">We understand that every patient is unique, and their healthcare needs may vary. That's why we create individualized treatment.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="img-box3">
                    <img src="~/Content/assets/img/WhyChooseUs.jpg" alt="Why">
                </div>
            </div>
        </div>
    </div>
</div>
<!--==============================
Faq Area
==============================-->
<div class="overflow-hidden" id="faq-sec" data-bg-src="~/Content/assets/img/bg/faq_bg_1.jpg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 text-center text-xl-start align-self-center">
                <div class="pe-xl-4 space-top pt-xl-0 pb-40 pb-xl-0">
                    <div class="title-area text-center text-xl-start">
                        <span class="sub-title"><img src="~/Content/assets/img/theme-img/title_icon_2.svg" alt="Icon">Faqs</span>
                        <h2 class="sec-title">Frequently Asked Have <br> Any Question?</h2>
                    </div>
                    <div class="accordion" id="faqAccordion">


                        <div class="accordion-card">
                            <div class="accordion-header" id="collapse-item-1">
                                <button class="accordion-button " type="button" data-bs-toggle="collapse" data-bs-target="#collapse-1" aria-expanded="true" aria-controls="collapse-1">01. What services does the clinic offer?</button>
                            </div>
                            <div id="collapse-1" class="accordion-collapse collapse show" aria-labelledby="collapse-item-1" data-bs-parent="#faqAccordion">
                                <div class="accordion-body">
                                    <p class="faq-text">Our clinic is strategically located for easy access, ensuring that you can reach us conveniently from various parts of the community. We also provide accessibility.</p>
                                </div>
                            </div>
                        </div>


                        <div class="accordion-card">
                            <div class="accordion-header" id="collapse-item-2">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-2" aria-expanded="false" aria-controls="collapse-2">02. How do I schedule an appointment?</button>
                            </div>
                            <div id="collapse-2" class="accordion-collapse collapse " aria-labelledby="collapse-item-2" data-bs-parent="#faqAccordion">
                                <div class="accordion-body">
                                    <p class="faq-text">Our clinic is strategically located for easy access, ensuring that you can reach us conveniently from various parts of the community. We also provide accessibility.</p>
                                </div>
                            </div>
                        </div>


                        <div class="accordion-card">
                            <div class="accordion-header" id="collapse-item-3">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-3" aria-expanded="false" aria-controls="collapse-3">03. What are the clinic hours of operation?</button>
                            </div>
                            <div id="collapse-3" class="accordion-collapse collapse " aria-labelledby="collapse-item-3" data-bs-parent="#faqAccordion">
                                <div class="accordion-body">
                                    <p class="faq-text">Our clinic is strategically located for easy access, ensuring that you can reach us conveniently from various parts of the community. We also provide accessibility.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="ps-xxl-4">
                    <div class="faq-img1">
                        <img src="~/Content/assets/img/Faqs.jpg" alt="faq">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

