@{
    ViewBag.Title = "Product";
}

<!--==============================
About Area
==============================-->

@*<div class="container space-top">
    <div class="row justify-content-center">
        <div class="col-lg-7 col-md-8">
            <div class="title-area text-center">
                <h2 class="sec-title">Product</h2>
            </div>
        </div>
    </div>
</div>*@

<!--==============================
Product Area
==============================-->
<section class="space-top space-extra-bottom">
    <div class="container">

        <div class="row justify-content-center">
            <div class="col-lg-7 col-md-8">
                <div class="title-area text-center">
                    <span class="sub-title"><img src="~/Content/assets/img/theme-img/title_icon.svg" alt="shape">International</span>
                </div>
            </div>
        </div>
        <div class="row gy-40">

            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="th-product product-grid">
                    <div class="product-img">
                        <img src="~/Content/assets/img/Products/INTERNATIONAL/1.jpg" alt="Product Image">
                        <div class="actions">
                            <a href="#QuickView" class="icon-btn popup-content"><i class="far fa-eye"></i></a>
                        </div>
                    </div>
                    <div class="product-content">
                        <h3 class="product-title"><a href="#QuickView" class="popup-content">Sodium Chloride Injection BP (0.9%w/v)</a></h3>
                    </div>
                </div>
            </div>


            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="th-product product-grid">
                    <div class="product-img">
                        <img src="~/Content/assets/img/Products/INTERNATIONAL/2.jpg" alt="Product Image">
                        <div class="actions">
                            <a href="#QuickView" class="icon-btn popup-content"><i class="far fa-eye"></i></a>
                        </div>
                    </div>
                    <div class="product-content">
                        <h3 class="product-title"><a href="#QuickView" class="popup-content">Glucose Intravenous Infusion BP (5% w/v) </a></h3>
                    </div>
                </div>
            </div>


            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="th-product product-grid">
                    <div class="product-img">
                        <img src="~/Content/assets/img/Products/INTERNATIONAL/3.jpg" alt="Product Image">
                        <div class="actions">
                            <a href="#QuickView" class="icon-btn popup-content"><i class="far fa-eye"></i></a>
                        </div>
                    </div>
                    <div class="product-content">
                        <h3 class="product-title"><a href="#QuickView" class="popup-content">Sodium Chloride (0.9% w/v) and Glucose (5% w/v) Injection BP</a></h3>
                    </div>
                </div>
            </div>


            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="th-product product-grid">
                    <div class="product-img">
                        <img src="~/Content/assets/img/Products/INTERNATIONAL/4.jpg" alt="Product Image">
                        <div class="actions">
                            <a href="#QuickView" class="icon-btn popup-content"><i class="far fa-eye"></i></a>
                        </div>
                    </div>
                    <div class="product-content">

                        <h3 class="product-title"><a href="#QuickView" class="popup-content">Mannitol Intravenous infusion BP (20% w/v)</a></h3>
                    </div>
                </div>
            </div>


            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="th-product product-grid">
                    <div class="product-img">
                        <img src="~/Content/assets/img/Products/INTERNATIONAL/5.jpg" alt="Product Image">
                        <div class="actions">
                            <a href="#QuickView" class="icon-btn popup-content"><i class="far fa-eye"></i></a>
                        </div>
                    </div>
                    <div class="product-content">
                        <h3 class="product-title"><a href="#QuickView" class="popup-content">Glucose Intravenous Infusion BP (10% w/v)</a></h3>

                    </div>
                </div>
            </div>


            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="th-product product-grid">
                    <div class="product-img">
                        <img src="~/Content/assets/img/Products/INTERNATIONAL/6.jpg" alt="Product Image">
                        <div class="actions">
                            <a href="#QuickView" class="icon-btn popup-content"><i class="far fa-eye"></i></a>
                        </div>
                    </div>
                    <div class="product-content">
                        <h3 class="product-title"><a href="#QuickView" class="popup-content">Compound Sodium Lactate Intravenous Infusion BP</a></h3>

                    </div>
                </div>
            </div>


            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="th-product product-grid">
                    <div class="product-img">
                        <img src="~/Content/assets/img/Products/INTERNATIONAL/7.jpg" alt="Product Image">
                        <div class="actions">
                            <a href="#QuickView" class="icon-btn popup-content"><i class="far fa-eye"></i></a>
                        </div>
                    </div>
                    <div class="product-content">
                        <h3 class="product-title"><a href="#QuickView" class="popup-content">Lactated Ringer’s Injection USP Injection IP</a></h3>
                    </div>
                </div>
            </div>       

        </div>
        <div class="th-pagination text-center pt-50">
            <ul>
                <li><a href="blog.html">1</a></li>
                <li><a href="blog.html">2</a></li>
                <li><a href="blog.html">3</a></li>
                <li><a href="blog.html"><i class="far fa-arrow-right"></i></a></li>
            </ul>
        </div>
    </div>
</section>


<!--==============================
Product Lightbox
==============================-->
<div id="QuickView" class="white-popup mfp-hide">
    <div class="container bg-white rounded-10">
        <div class="row gx-60">
            <div class="col-lg-6">
                <div class="product-big-img">
                    <div class="img"><img src="~/Content/assets/img/Products/INTERNATIONAL/1.jpg" alt="Product Image"></div>
                </div>
            </div>
            <div class="col-lg-6 align-self-center">
                <div class="product-about">
                    <h4 class="product-title">Ofloxacin Infusion IP (200 mg/100 ml)</h4>
                    <p class="text">
                        Each 100ml contains<br>
                        Sodium Chloride BP…….......0.9gm<br>
                        Water for Injection BP…........Q.S.
                    </p>
                    <div class="product_meta">
                        <span class="sku_wrapper">Filled Volume: <span class="sku">100ml</span> <span class="sku">100ml</span> <span class="sku">250ml</span><span class="sku"><span class="sku">500ml</span></span><span class="sku">1000ml</span></span>
                    </div>

                </div>
            </div>
        </div>
        <button title="Close (Esc)" type="button" class="mfp-close">×</button>
    </div>
</div>